/* ===================== START OF THE HEADER ========================  */
header{
  background-image: url("../images/wolverine-background.jpg");
  height:1000px;
  background-size: contain;
  background-repeat: no-repeat;
}
.headerContainer{
  display:flex;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.5);
}
.headerMenu{
  width:800px;
  display:flex;
  justify-content: space-between;
  align-items: center;

}

.headerIcons{
  width:200px;
  display:flex;
  justify-content: space-between;
  margin-top:10px;
}

a{
  text-decoration: none;
}
/* ========================= END OF THE HEADER ====================  */

/* =========================== START OF THE CAROUSEL =================== */
.headerCar{
  width:85%;

}
.himg{
  width : 75%;
  margin: 0px auto;
}




/* ============================ END OF THE CAROUSEL =======================  */
