/* ===================== START OF THE HEADER ========================  */
header{
  background-image: url("../images/wolverine-background.jpg");
  height: 950px;
  max-height: 900px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width:100%;
}
.headerContainer{
  display:flex;
  justify-content: space-around;
  align-content: middle;
  background-color: rgba(0, 0, 0, 0.7);
}
.headerMenu{
  width:800px;
  display:flex;
  justify-content: space-between;
  align-items: center;

}

.headerIcons{
  width:200px;
  display:flex;
  justify-content: space-between;
  margin:10px;
}

a{
  text-decoration: none;
}
/* ========================= END OF THE HEADER ====================  */

/* =========================== START OF THE CAROUSEL =================== */
.headerCar{
  width:82%;
  margin:auto;
}
#carCancer{
  color:white;
  text-align: center;
  background-color:rgba(0, 0, 0, 0.4);
}
.carPhoto {
  background-size: cover;
  padding-bottom: 5%;
  will-change: transform;
}
.headerTitle{
  width:400px;
  margin:auto;
}


/* ============================ END OF THE CAROUSEL =======================  */





















































/*Dayvid's code*/
#fanshop{
  
}
.img-product{
  margin:20px;
  border: 1px solid grey;
}
.img-product img{
  width: 100%;
  height: auto;
}

.product-row{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}
#footer{
  background-color: black;
}

#footer .row{
  display: flex;
  color: #f79526;
  text-align: center;
  justify-content:center;

}

#footer-links a{
  color: #f79526;
  font-size: 2rem;
  text-decoration: none;
  margin: 10px;
}

