[data-component-name="search-filter-layer"] .foot .apply,
[data-component-name="search-filter-layer"] .foot .close {
  font-family: "AktivGrotesk-Medium";
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 1px;
  padding: 12px 12px;
  border: 1px solid transparent;
  border-radius: 2px;
  display: inline-block;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
[data-component-name="search-filter-layer"] .foot .apply:disabled,
[data-component-name="search-filter-layer"] .foot .close:disabled,
[data-component-name="search-filter-layer"] .foot .apply[disabled],
[data-component-name="search-filter-layer"] .foot .close[disabled] {
  opacity: 0.1;
}
@media only screen and (min-width: 767px) {
  [data-component-name="search-filter-layer"] .foot .apply,
  [data-component-name="search-filter-layer"] .foot .close {
    width: auto;
    min-width: 135px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 767px) {
  [data-component-name="search-filter-layer"] .foot .apply,
  [data-component-name="search-filter-layer"] .foot .close {
    min-width: 250px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 480px) and (max-width: 1024px) {
  [data-component-name="search-filter-layer"] .foot .apply,
  [data-component-name="search-filter-layer"] .foot .close {
    padding: 15px 15px;
  }
}
[data-component-name="search-filter-layer"] .filters > li .wrapper-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  cursor: pointer;
  padding: 20px 0;
  position: relative;
}
[data-component-name="search-filter-layer"] .filters > li .wrapper-title span:not(.icon) {
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
  width: 100%;
  color: #181818;
  letter-spacing: normal;
  font-family: "AktivGrotesk-Light";
  font-family: "AktivGrotesk-Bold";
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  line-height: 20px;
}
[data-component-name="search-filter-layer"] .filters > li .wrapper-title .icon {
  position: absolute;
  right: 0;
  top: 50%;
  width: 15px;
  height: 15px;
  margin-right: 15px;
  margin-top: -7.5px;
}
[data-component-name="search-filter-layer"] .filters > li .wrapper-title .icon::before,
[data-component-name="search-filter-layer"] .filters > li .wrapper-title .icon::after {
  content: "";
  background: #181818;
  width: 15px;
  height: 1px;
  position: absolute;
  top: 50%;
  right: 0;
}
[data-component-name="search-filter-layer"] .filters > li .wrapper-title .icon:after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: -webkit-transform 400ms ease;
  transition: -webkit-transform 400ms ease;
  transition: transform 400ms ease;
  transition: transform 400ms ease, -webkit-transform 400ms ease;
}
@media only screen and (max-width: 1023px) {
  main.container.filters-opened {
    position: static;
  }
  main.container.filters-opened [data-component-name="siteHeader"] {
    position: static !important;
  }
  main.container.filters-closing {
    position: static;
  }
}
@media only screen and (max-width: 1023px) {
  [data-component-name="gridr"].filters-applied {
    position: static;
  }
}
[data-component-name="search-filter-layer"] {
  background-color: #fff;
  font-size: 13px;
  letter-spacing: 0.4px;
  -webkit-transform: translateX(-1000%);
          transform: translateX(-1000%);
}
@media only screen and (min-width: 1024px) {
  [data-component-name="search-filter-layer"] {
    float: left;
    -webkit-transition: opacity 400ms ease, padding 400ms cubic-bezier(0.39, 0.575, 0.565, 1), -webkit-transform 400ms ease;
    transition: opacity 400ms ease, padding 400ms cubic-bezier(0.39, 0.575, 0.565, 1), -webkit-transform 400ms ease;
    transition: transform 400ms ease, opacity 400ms ease, padding 400ms cubic-bezier(0.39, 0.575, 0.565, 1);
    transition: transform 400ms ease, opacity 400ms ease, padding 400ms cubic-bezier(0.39, 0.575, 0.565, 1), -webkit-transform 400ms ease;
    width: 25%;
    position: absolute;
    z-index: 1;
    -webkit-transform: translateX(-1000%) translateZ(0);
            transform: translateX(-1000%) translateZ(0);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1441px) {
  [data-component-name="search-filter-layer"] {
    width: 33%;
  }
}
@media only screen and (max-width: 1023px) {
  [data-component-name="search-filter-layer"] {
    position: fixed;
    width: 100%;
    height: auto;
    z-index: 65;
    top: 100vh;
  }
  [data-component-name="search-filter-layer"] .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
[data-component-name="search-filter-layer"].open {
  -webkit-transform: translateX(0) translateZ(0);
          transform: translateX(0) translateZ(0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
@media only screen and (max-width: 1023px) {
  [data-component-name="search-filter-layer"].open {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    top: 0;
  }
}
[data-component-name="search-filter-layer"] .head {
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}
@media only screen and (min-width: 1024px) {
  [data-component-name="search-filter-layer"] .head {
    padding: 1.5rem;
    overflow: hidden;
    display: block;
  }
  [data-component-name="search-filter-layer"] .head .icon {
    cursor: pointer;
    float: right;
    display: block;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: contain;
    width: 14px;
    height: 14px;
    background-size: 14px 14px;
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2038%2038%22%3E%3Cpath%20fill%3D%22%23181818%22%20d%3D%22M0%201.414l36%2036L37.414%2036l-36-36L0%201.414zM36%200L0%2036l1.414%201.414%2036-36L36%200z%22%2F%3E%3C%2Fsvg%3E");
  }
  [data-component-name="search-filter-layer"] .head .filterBy {
    text-transform: uppercase;
    float: left;
  }
}
@media only screen and (max-width: 1023px) {
  [data-component-name="search-filter-layer"] .head {
    border-bottom: 1px solid #e5e6ea;
  }
}
[data-component-name="search-filter-layer"] .filters {
  padding: 1rem 0.5rem 0;
  font-size: 13px;
  letter-spacing: 0.4px;
}
@media only screen and (max-width: 1023px) {
  [data-component-name="search-filter-layer"] .filters {
    -webkit-overflow-scrolling: touch;
    -webkit-backface-visibility: hidden;
    overflow-y: scroll;
    padding-bottom: 70px;
  }
}
@media only screen and (min-width: 1024px) {
  [data-component-name="search-filter-layer"] .filters {
    padding: 1.5rem;
  }
}
[data-component-name="search-filter-layer"] .filters > li {
  border-bottom: 1px solid #e5e6ea;
}
[data-component-name="search-filter-layer"] .filters > li .wrapper-title {
  padding: 1rem 0.5rem;
}
@media only screen and (min-width: 1024px) {
  [data-component-name="search-filter-layer"] .filters > li .wrapper-title {
    padding: 2rem 0;
  }
}
@media only screen and (min-width: 1024px) {
  [data-component-name="search-filter-layer"] .filters > li .wrapper-title {
    cursor: pointer;
  }
}
[data-component-name="search-filter-layer"] .filters > li > .refinements {
  display: none;
  overflow: hidden;
  margin-bottom: 1rem;
}
@media only screen and (min-width: 1024px) {
  [data-component-name="search-filter-layer"] .filters > li > .refinements {
    margin-bottom: 2rem;
  }
}
[data-component-name="search-filter-layer"] .filters > li > .refinements > li {
  padding: 5px 0.5rem;
  margin: 5px 0;
  float: left;
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "AktivGrotesk-Regular";
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0.014em;
  font-size: 12px;
  letter-spacing: 0.017em;
}
@media only screen and (min-width: 1024px) {
  [data-component-name="search-filter-layer"] .filters > li > .refinements > li {
    font-size: 16px;
    line-height: 1.3;
    letter-spacing: 0.025em;
  }
}
@media only screen and (min-width: 1024px) {
  [data-component-name="search-filter-layer"] .filters > li > .refinements > li {
    font-size: 13px;
    letter-spacing: 0.031em;
  }
}
[data-component-name="search-filter-layer"] .filters > li > .refinements > li a {
  font-family: "AktivGrotesk-Regular";
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0.014em;
  font-size: 12px;
  letter-spacing: 0.017em;
}
@media only screen and (min-width: 1024px) {
  [data-component-name="search-filter-layer"] .filters > li > .refinements > li a {
    font-size: 16px;
    line-height: 1.3;
    letter-spacing: 0.025em;
  }
}
@media only screen and (min-width: 1024px) {
  [data-component-name="search-filter-layer"] .filters > li > .refinements > li a {
    font-size: 13px;
    letter-spacing: 0.031em;
  }
}
[data-component-name="search-filter-layer"] .filters > li > .refinements > li.disabled {
  display: none;
}
[data-component-name="search-filter-layer"] .filters > li > .refinements > li.disabled.Issale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
[data-component-name="search-filter-layer"] .filters > li > .refinements > li.dead {
  pointer-events: none;
  opacity: 0.3;
}
[data-component-name="search-filter-layer"] .filters > li > .refinements > li.dead .NumItems {
  display: none;
}
[data-component-name="search-filter-layer"] .filters > li > .refinements > li .NumItems:empty {
  display: none;
}
@media only screen and (min-width: 1024px) {
  [data-component-name="search-filter-layer"] .filters > li > .refinements > li {
    cursor: pointer;
  }
}
[data-component-name="search-filter-layer"] .filters > li > .refinements > li:before {
  margin-right: 10px;
  content: '';
  display: block;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  width: 12px;
  height: 12px;
  background-size: 12px 12px;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M22%202v20H2V2h20zm2-2H0v24h24V0z%22%2F%3E%3C%2Fsvg%3E");
}
.ie [data-component-name="search-filter-layer"] .filters > li > .refinements > li:before {
  position: relative;
  top: -3px;
}
[data-component-name="search-filter-layer"] .filters > li > .refinements > li.selected:before,
[data-component-name="search-filter-layer"] .filters > li > .refinements > li.af:before {
  content: '';
  display: block;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  width: 12px;
  height: 12px;
  background-size: 12px 12px;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M22%202v20H2V2h20zm2-2H0v24h24V0zm-6%206H6v12h12V6z%22%2F%3E%3C%2Fsvg%3E");
}
.ie [data-component-name="search-filter-layer"] .filters > li > .refinements > li.selected:before,
.ie [data-component-name="search-filter-layer"] .filters > li > .refinements > li.af:before {
  position: relative;
  top: -3px;
}
@media only screen and (min-width: 1024px) {
  .ios [data-component-name="search-filter-layer"] .filters > li > .refinements.refinementMicro {
    max-height: 280px;
    -webkit-overflow-scrolling: touch;
    -webkit-backface-visibility: hidden;
    overflow-y: scroll;
  }
}
[data-component-name="search-filter-layer"] .filters > li > .refinements .NumItems {
  margin-left: 5px;
}
[data-component-name="search-filter-layer"] .filters > li > .refinements .NumItems:after {
  content: ')';
}
[data-component-name="search-filter-layer"] .filters > li > .refinements .NumItems:before {
  content: '(';
}
[data-component-name="search-filter-layer"] .filters > li.selected .wrapper-title .icon::after {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
[data-component-name="search-filter-layer"] .foot {
  background-color: #f6f6f6;
  padding: 1rem 0;
  border-top: 1px solid #e5e6ea;
}
@media only screen and (min-width: 1024px) {
  [data-component-name="search-filter-layer"] .foot {
    display: none;
  }
}
[data-component-name="search-filter-layer"] .foot .buttonsRow,
[data-component-name="search-filter-layer"] .foot .totalResults {
  text-align: center;
}
[data-component-name="search-filter-layer"] .foot .buttonsRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
}
[data-component-name="search-filter-layer"] .foot .buttonsRow .resetFilters,
[data-component-name="search-filter-layer"] .foot .buttonsRow .apply {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 48%;
          flex: 1 0 48%;
  min-width: 0;
  max-width: none;
}
[data-component-name="search-filter-layer"] .foot .totalResults {
  margin-bottom: 1rem;
}
[data-component-name="search-filter-layer"] .foot .apply,
[data-component-name="search-filter-layer"] .foot .close {
  cursor: pointer;
  display: block;
}
[data-component-name="search-filter-layer"] .foot .close {
  background-color: #181818;
  border-color: #181818;
  color: #fff;
  text-transform: none;
}
.no-touch [data-component-name="search-filter-layer"] .foot .close {
  -webkit-transition: background-color 200ms ease, color 200ms ease, border-color 200ms ease;
  transition: background-color 200ms ease, color 200ms ease, border-color 200ms ease;
}
.no-touch [data-component-name="search-filter-layer"] .foot .close:hover {
  background-color: #444;
  border-color: #444;
  color: #fff;
}
.no-touch [data-component-name="search-filter-layer"] .foot .close:active,
[data-component-name="search-filter-layer"] .foot .close:active {
  background-color: #444;
  border-color: #444;
  color: #fff;
}
[data-component-name="search-filter-layer"] .foot .close.active {
  background-color: #444;
  border-color: #444;
  color: #fff;
}
[data-component-name="search-filter-layer"] .foot .resetFilters {
  background-color: transparent;
  border-color: #181818;
  color: #181818;
  text-transform: none;
}
.no-touch [data-component-name="search-filter-layer"] .foot .resetFilters {
  -webkit-transition: background-color 200ms ease, color 200ms ease, border-color 200ms ease;
  transition: background-color 200ms ease, color 200ms ease, border-color 200ms ease;
}
.no-touch [data-component-name="search-filter-layer"] .foot .resetFilters:hover {
  background-color: #444;
  border-color: #444;
  color: #fff;
}
.no-touch [data-component-name="search-filter-layer"] .foot .resetFilters:active,
[data-component-name="search-filter-layer"] .foot .resetFilters:active {
  background-color: #444;
  border-color: #444;
  color: #fff;
}
[data-component-name="search-filter-layer"] .foot .resetFilters.active {
  background-color: #444;
  border-color: #444;
  color: #fff;
}
[data-component-name="search-filter-layer"] .foot .apply {
  background-color: #181818;
  border-color: #181818;
  color: #fff;
  text-transform: none;
}
.no-touch [data-component-name="search-filter-layer"] .foot .apply {
  -webkit-transition: background-color 200ms ease, color 200ms ease, border-color 200ms ease;
  transition: background-color 200ms ease, color 200ms ease, border-color 200ms ease;
}
.no-touch [data-component-name="search-filter-layer"] .foot .apply:hover {
  background-color: #444;
  border-color: #444;
  color: #fff;
}
.no-touch [data-component-name="search-filter-layer"] .foot .apply:active,
[data-component-name="search-filter-layer"] .foot .apply:active {
  background-color: #444;
  border-color: #444;
  color: #fff;
}
[data-component-name="search-filter-layer"] .foot .apply.active {
  background-color: #444;
  border-color: #444;
  color: #fff;
}
[data-component-name="search-filter-layer"] .foot .resetFilters,
[data-component-name="search-filter-layer"] .foot .apply,
[data-component-name="search-filter-layer"] .foot .totalResults {
  display: none;
}
[data-component-name="search-filter-layer"] .foot .resetFilters {
  margin-right: 0.5rem;
}
[data-component-name="search-filter-layer"] .foot .apply {
  margin-left: 0.5rem;
}
[data-component-name="search-filter-layer"] .foot .apply .close-action {
  display: none;
}
[data-component-name="search-filter-layer"] .foot .apply .apply-action {
  display: block;
}
[data-component-name="search-filter-layer"] .foot.filters-applied .resetFilters,
[data-component-name="search-filter-layer"] .foot.filters-applied .apply,
[data-component-name="search-filter-layer"] .foot.filters-applied .totalResults {
  display: block;
}
[data-component-name="search-filter-layer"] .foot.filters-applied .close {
  display: none;
}
[data-component-name="search-filter-layer"] .foot.filters-close .close-action {
  display: block;
}
[data-component-name="search-filter-layer"] .foot.filters-close .apply-action {
  display: none;
}
[data-component-name="search-filter-layer"].filters-closing {
  -webkit-transition: top 800ms linear;
  transition: top 800ms linear;
}

/*# sourceMappingURL=search-filter-layer.css.map */
